# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [4]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [5]:
print(hash_function('pato'))
print(hash_function('tapo'))

1807
1799

In [35]:
hash_function("ABW")

910

In [6]:
import pandas as pd

In [9]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1')
df

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN
...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,"9.732,22",0.731867
11123,ZWE,Zimbabue,África subsahariana,2008,"7.682,37",0.569255
11124,ZWE,Zimbabue,África subsahariana,2009,"8.239,75",0.600521
11125,ZWE,Zimbabue,África subsahariana,2010,"9.028,15",0.646073
11126,ZWE,Zimbabue,África subsahariana,2011,"9.860,56",0.691698

In [41]:
hospitales = df.dropna()

hospitales

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165
...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,"9.732,22",0.731867
11123,ZWE,Zimbabue,África subsahariana,2008,"7.682,37",0.569255
11124,ZWE,Zimbabue,África subsahariana,2009,"8.239,75",0.600521
11125,ZWE,Zimbabue,África subsahariana,2010,"9.028,15",0.646073
11126,ZWE,Zimbabue,África subsahariana,2011,"9.860,56",0.691698

In [43]:
z = []

for element in hospitales["Código de país"]:
    z.append(hash_function(element))

z

[910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 870,
 870,
 870,
 870,
 870,
 870,
 870,
 870,
 870,
 870,
 870,
 870,
 870,
 870,
 870,
 870,
 870,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 858,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 893,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 856,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 886,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 894,
 918,
 918,
 918,
 918,
 918,
 918,
 918,
 918,
 918,
 918,
 918,
 918,
 918,
 918,
 918,
 918,
 918,
 918,
 918,
 918,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 900,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 951,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 955,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 862,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 877,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 885,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 836,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 851,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 907,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 910,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 914,
 873,
 873,
 873,
 873,
 873,
 873,
 873,
 873,
 873,
 873,
 873,
 873,
 873,
 873,
 873,
 873,
 873,
 873,
 873,
 873,
 922,
 922,
 922,
 922,
 922,
 922,
 922,
 922,
 922,
 922,
 922,
 922,
 922,
 922,
 922,
 922,
 922,
 922,
 922,
 922,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 954,
 937,
 937,
 937,
 937,
 937,
 937,
 937,
 ...]

In [44]:
hospitales["Clave_hash"] = z

C:\Users\dmon2\AppData\Local\Temp\ipykernel_7096\2757416475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hospitales["Clave_hash"] = z

In [45]:
hospitales

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_hash
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165,910
...,...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,"9.732,22",0.731867,951
11123,ZWE,Zimbabue,África subsahariana,2008,"7.682,37",0.569255,951
11124,ZWE,Zimbabue,África subsahariana,2009,"8.239,75",0.600521,951
11125,ZWE,Zimbabue,África subsahariana,2010,"9.028,15",0.646073,951
11126,ZWE,Zimbabue,África subsahariana,2011,"9.860,56",0.691698,951

In [48]:
hospitales.iloc[100]

Código de país                                         AGO
Nombre del país                                     Angola
Región                                 África subsahariana
Año                                                   1965
CO2 (kt)                                          1.188,11
CO2 per cápita (toneladas métricas)               0.206089
Clave_hash                                             893
Name: 161, dtype: object

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [50]:
hospitales.columns

Index(['Código de país', 'Nombre del país', 'Región', 'Año', 'CO2 (kt)',
       'CO2 per cápita (toneladas métricas)', 'Clave_hash'],
      dtype='object')

In [54]:
Nuevo_hospitales = pd.DataFrame({"Clave_Hash": hospitales["Clave_hash"],
                "Código de país": hospitales["Código de país"],
                "Nombre de país": hospitales["Nombre del país"],
                "Región": hospitales["Región"]})

Nuevo_hospitales

       Clave_Hash Código de país Nombre de país                   Región
26            910            ABW          Aruba  América Latina y Caribe
27            910            ABW          Aruba  América Latina y Caribe
28            910            ABW          Aruba  América Latina y Caribe
29            910            ABW          Aruba  América Latina y Caribe
30            910            ABW          Aruba  América Latina y Caribe
...           ...            ...            ...                      ...
11122         951            ZWE       Zimbabue      África subsahariana
11123         951            ZWE       Zimbabue      África subsahariana
11124         951            ZWE       Zimbabue      África subsahariana
11125         951            ZWE       Zimbabue      África subsahariana
11126         951            ZWE       Zimbabue      África subsahariana

[9029 rows x 4 columns]

In [55]:
del hospitales["Código de país"]
del hospitales["Nombre del país"]
del hospitales["Región"]

hospitales

        Año  CO2 (kt)  CO2 per cápita (toneladas métricas)  Clave_hash
26     1986   179,683                             2.868319         910
27     1987   447,374                             7.234964         910
28     1988   612,389                            10.026508         910
29     1989   649,059                            10.634733         910
30     1990  1.840,83                            29.620165         910
...     ...       ...                                  ...         ...
11122  2007  9.732,22                             0.731867         951
11123  2008  7.682,37                             0.569255         951
11124  2009  8.239,75                             0.600521         951
11125  2010  9.028,15                             0.646073         951
11126  2011  9.860,56                             0.691698         951

[9029 rows x 4 columns]